In [ ]:
pwd

In [ ]:
cd '/mmfs1/data/aglinska/BC-fMRI-AE/Notebooks/'

In [3]:
import pandas as pd
from tqdm import tqdm
import numpy as np
import os
import ants

In [4]:
df = pd.read_csv('../Data/ABIDE_subjects.csv')

In [5]:
#df

In [6]:
def get_ABIDE_subData(s,fldr='func',ses='ses-1',deriv='cpac_nofilt_global'):
    subFolderTemp = '../../data/ABIDE/Derivatives/{deriv}/sub-{siteID}00{subID}/{ses}/{fldr}/'
    
    siteID = df['SITE_ID_BIDS'][s]
    subID = df['SUB_ID'][s]

    subFolder = subFolderTemp.format(siteID=siteID,subID=subID,fldr=fldr,ses=ses,deriv=deriv)

    subFiles_list = os.listdir(subFolder)
    subFiles_dict = {}
    for subFile in subFiles_list:
        key = subFile.replace('sub-{siteID}00{subID}_ses-1_'.format(siteID=siteID,subID=subID),'')
        subFiles_dict.update({key : os.path.join(subFolder,subFile)})
    return subFiles_dict

In [7]:
#subData = get_ABIDE_subData(100)

In [8]:
#epi = ants.image_read(subData['preproc.nii.gz'])
#mean_epi = ants.image_read(subData['mean.nii.gz'])

In [9]:
df['SITE_ID_BIDS'] = df['SITE_ID']
df['SITE_ID_BIDS'][df['SITE_ID_BIDS']=='PITT'] = 'Pitt'
df['SITE_ID_BIDS'][df['SITE_ID_BIDS']=='OLIN'] = 'Olin'
df['SITE_ID_BIDS'][df['SITE_ID_BIDS']=='TRINITY'] = 'Trinity'
df['SITE_ID_BIDS'][df['SITE_ID_BIDS']=='UM_1'] = 'UM1'
df['SITE_ID_BIDS'][df['SITE_ID_BIDS']=='UM_2'] = 'UM2'
df['SITE_ID_BIDS'][df['SITE_ID_BIDS']=='YALE'] = 'Yale'
n = len(df)

In [10]:
pd.unique(df['SITE_ID_BIDS'])

array(['Pitt', 'Olin', 'OHSU', 'SDSU', 'Trinity', 'UM1', 'UM2', 'USM',
       'Yale', 'CMU', 'LEUVEN_1', 'LEUVEN_2', 'KKI', 'NYU', 'STANFORD',
       'UCLA_1', 'UCLA_2', 'MAX_MUN', 'CALTECH', 'SBL'], dtype=object)

In [11]:
#[get_ABIDE_subData(s) for s in tqdm(range(n))]

In [14]:
ls ~

ABIDE_Initiative/                  job_AWS_download_ABIDE_fData.slurm
anaconda3/                         job_AWS_download_ABIDE_rawData.slurm
Anaconda3-2021.05-Linux-x86_64.sh  job_disk_usage.slurm
aws/                               jobname.slurm
awscliv2.zip                       misc_files/
AWS_job_finished.txt               mynewfolder/
AWS_job_running.txt                new_folder/
BC-ASD-FC/                         notebooks/
BC-BNP/                            NoteBooks/
BC-fMRI-AE/                        pyscript.py
BC-MRI-AE/                         slurm_tutorial/
Brown_TestRelease_phenotypic.csv/  test_slurm_job_output
data/                              test_slurm_job.slurm
disk_usage                         tf_outputs/
job_AWS_download_ABIDE             trash/
job_AWS_download_ABIDE_fData

In [15]:
deriv = 'cpac_nofilt_global'
#deriv = 'niak_nofilt_global'
#deriv = 'dparsf_nofilt_global'
#deriv = 'ccs_nofilt_global'
bids_folders = os.listdir(f'../../data/ABIDE/Derivatives/{deriv}/')
bids_folders.sort()
bids_folders = bids_folders[2:]

bids = pd.DataFrame(bids_folders,columns=['folders'])
bids['ID'] = bids.applymap(lambda val : val[-5::])
bids['ID'] = pd.to_numeric(bids['ID'])
bids = bids.sort_values(by='ID')
len(bids)
bids.head(5)

             folders     ID
489  sub-Pitt0050002  50002
490  sub-Pitt0050003  50003
491  sub-Pitt0050004  50004
492  sub-Pitt0050005  50005
493  sub-Pitt0050006  50006

In [16]:
csv = df.copy()
csv.head()

,Unnamed: 0,SITE_ID,SUB_ID,DX_GROUP,DSM_IV_TR,AGE_AT_SCAN,SEX,HANDEDNESS_CATEGORY,HANDEDNESS_SCORES,FIQ,...,WISC_IV_PIC_CON_SCALED,WISC_IV_MATRIX_SCALED,WISC_IV_DIGIT_SPAN_SCALED,WISC_IV_LET_NUM_SCALED,WISC_IV_CODING_SCALED,WISC_IV_SYM_SCALED,EYE_STATUS_AT_SCAN,AGE_AT_MPRAGE,BMI,SITE_ID_BIDS
0,0,PITT,50002,1,1,16.77,1,Ambi,NaN,103.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,Pitt
1,1,PITT,50003,1,1,24.45,1,R,NaN,124.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,Pitt
2,2,PITT,50004,1,1,19.09,1,R,NaN,113.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,Pitt
3,3,PITT,50005,1,1,13.73,2,R,NaN,119.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,Pitt
4,4,PITT,50006,1,1,13.37,1,L,NaN,109.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,Pitt

In [24]:
csv

,Unnamed: 0,SITE_ID,SUB_ID,DX_GROUP,DSM_IV_TR,AGE_AT_SCAN,SEX,HANDEDNESS_CATEGORY,HANDEDNESS_SCORES,FIQ,...,WISC_IV_MATRIX_SCALED,WISC_IV_DIGIT_SPAN_SCALED,WISC_IV_LET_NUM_SCALED,WISC_IV_CODING_SCALED,WISC_IV_SYM_SCALED,EYE_STATUS_AT_SCAN,AGE_AT_MPRAGE,BMI,SITE_ID_BIDS,bids_folder
0,0,PITT,50002,1,1,16.77,1,Ambi,NaN,103.0,...,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,Pitt,sub-CMUa0050642
1,1,PITT,50003,1,1,24.45,1,R,NaN,124.0,...,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,Pitt,sub-CMUa0050646
2,2,PITT,50004,1,1,19.09,1,R,NaN,113.0,...,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,Pitt,sub-CMUa0050647
3,3,PITT,50005,1,1,13.73,2,R,NaN,119.0,...,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,Pitt,sub-CMUa0050649
4,4,PITT,50006,1,1,13.37,1,L,NaN,109.0,...,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,Pitt,sub-CMUa0050653
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1107,27,SBL,51583,1,2,35.00,1,NaN,100.0,95.0,...,NaN,NaN,NaN,NaN,NaN,2,NaN,-9999.00,SBL,NaN
1108,28,SBL,51584,1,2,49.00,1,NaN,100.0,-9999.0,...,NaN,NaN,NaN,NaN,NaN,2,NaN,23.24,SBL,NaN
1109,29,SBL,51585,1,1,27.00,1,NaN,90.0,96.0,...,NaN,NaN,NaN,NaN,NaN,2,NaN,-9999.00,SBL,NaN
1110,0,MAX_MUN,51606,1,2,29.00,2,R,NaN,118.0,...,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,MAX_MUN,NaN
1111,1,MAX_MUN,51607,1,2,26.00,1,R,NaN,110.0,...,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,MAX_MUN,NaN

In [17]:
#np.array([val in set(csv['SUB_ID'].values) for val in bids['ID'].values])
deriv_slice = np.array([val in set(bids['ID'].values) for val in csv['SUB_ID'].values])

In [18]:
csv = csv.iloc[deriv_slice]

In [19]:
n = len(csv)
assert len(csv) == len(bids), 'different lenghts'
assert all([csv['SUB_ID'].values[i]==bids['ID'].values[i] for i in range(n)]),'out of order'
csv['bids_folder'] = bids['folders']

In [ ]:
#csv['SUB_ID'].values
csv['SUB_ID'].values[0]
bids['ID'].values[0]